@charset "UTF-8";
/*全体的な部分にかけるscss*/
* {
  font-family: Arial, meiryo, sans-serif; }

a {
  color: inherit; }

.border_line, .border, .comment .edit, .comment .user_info .follow, .user_info .comment .follow, .comment .destroy, .comment .box_comment, .relationships {
  border: solid 1px #d0d0d0; }

.border, .comment .edit, .comment .user_info .follow, .user_info .comment .follow, .comment .destroy, .comment .box_comment, .relationships {
  list-style: none; }

.background_color, .comment .edit, .comment .user_info .follow, .user_info .comment .follow, .comment .destroy, .comment .box_comment, .relationships {
  background-color: #FFF; }

.margin {
  padding: 20px; }

.follow {
  display: inline-block;
  float: right;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: solid 3px #ffe033;
  font-size: 15px;
  text-align: center;
  text-decoration: none; }

.not_follow {
  color: #ffe033; }

.followed, .form_profile .update {
  background-color: #ffe033;
  color: #FFF; }

.heading, .comment .edit, .comment .user_info .follow, .user_info .comment .follow, .comment .destroy {
  display: block;
  margin: 20px 0 10px 0;
  height: 50px;
  font-size: 30px;
  text-align: center; }

/*article部分にかけるscss*/
article {
  box-sizing: border-box;
  height: 530px;
  padding: 20px;
  /*	.title{
		padding: 10px 0 0 0;
		font-size: 14px;
	}*/ }
  article .user_name {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold; }
  article .image_article {
    width: 300px;
    height: 300px;
    margin: 30px auto; }
  article .image_position {
    object-fit: contain;
    width: 300px;
    height: 300px; }
  article .text {
    height: 75px;
    padding: 0;
    word-break: break-word; }

/*大きめの箱(背景白)に使うscss*/
.box_main, .relationships {
  height: 100px;
  font-size: 30px;
  text-align: center; }
  .box_main .text, .relationships .text {
    display: block;
    padding: 3%; }

/*コメントに使うscss*/
.comment {
  /*.border_bottom{
		border-bottom: solid 1px #d0d0d0;
	}*/ }
  .comment .box_comment {
    /*	border-top: solid 1px #d0d0d0;
		border-right: solid 1px #d0d0d0;
		border-left: solid 1px #d0d0d0;*/ }
  .comment .comment_under {
    height: 10px;
    padding: 10px; }
  .comment .image_profile {
    margin: 0 0 0 20px; }
  .comment .user_name {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold; }
  .comment .image {
    text-align: center;
    object-fit: contain;
    width: 300px;
    height: 300px;
    margin: 30px auto; }
  .comment .text {
    margin: 20px; }
  .comment .field_comment {
    width: 100%;
    margin: 0 auto; }
  .comment .discript {
    text-align: right; }
  .comment .image_submit {
    margin: 15px 0; }
  .comment .submit {
    margin: 15px 0 30px 0;
    font-weight: bold; }

.user_info .image_profile {
  margin: 30px auto;
  padding: 10px;
  width: 262px;
  height: 262px; }

.user_info .profile_matome.col-md-6 {
  margin: 40px; }

.user_info .user_name {
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto; }

.user_info .text_center {
  text-align: center; }

.user_info .edit, .user_info .follow {
  display: inline-block;
  padding: 13px;
  width: 130px;
  height: 57px;
  border-radius: 5px;
  border: solid 3px #ffe033;
  font-size: 20px;
  text-align: center;
  text-decoration: none; }

.user_info .follow {
  width: 160px; }

.user_info .figure ul {
  height: 50px;
  text-align: center;
  text-decoration: none;
  list-style: none; }

.user_info .figure .each {
  height: 50px;
  padding: 5px 0; }

.user_info .num {
  font-size: 20px;
  color: #ffd700;
  font-weight: bold; }

.user_info .text_profile {
  padding: 20px 80px 30px; }

.relationships {
  margin-top: 30px; }
  .relationships .inline-block {
    display: inline-block; }

.form_profile {
  /*descはdescriptionの略*/ }
  .form_profile .desc {
    display: inline-block;
    text-align: right;
    font-size: 16px;
    font-weight: bold; }
  .form_profile .br {
    padding: 10px 15px; }
  .form_profile .profile {
    width: 300px; }
  .form_profile .space {
    padding: 15px 15px 30px 15px; }
