@charset "UTF-8";
/*全体的な部分にかけるscss*/
* {
  font-family: Arial, meiryo, sans-serif; }

a {
  color: inherit; }

.border {
  list-style: none;
  border: solid 1px #d0d0d0; }

.background_color {
  background-color: #FFF; }

.margin {
  padding: 20px; }

.follow {
  display: inline-block;
  float: right;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: solid 3px #ffe033;
  font-size: 15px;
  text-align: center;
  text-decoration: none; }

.not_follow {
  color: #ffe033; }

.followed {
  background-color: #ffe033;
  color: #FFF; }

/*article部分にかけるscss*/
article {
  box-sizing: border-box;
  padding: 20px; }
  article .user_name {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold; }
  article .title {
    padding: 10px 0 0 0;
    font-size: 14px; }
  article .image_article {
    width: 300px;
    margin: 30px auto;
    text-align: center; }

.user_info .image_profile {
  margin: 30px auto;
  padding: 10px;
  width: 262px;
  height: 262px; }

.user_info .profile_matome.col-md-6 {
  margin: 40px; }

.user_info .user_name {
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto; }

.user_info .text_center {
  text-align: center; }

.user_info .edit, .user_info .follow {
  display: inline-block;
  padding: 13px;
  width: 130px;
  height: 57px;
  border-radius: 5px;
  border: solid 3px #ffe033;
  font-size: 20px;
  text-align: center;
  text-decoration: none; }

.user_info .follow {
  width: 160px; }

.user_info .figure ul {
  height: 50px;
  text-align: center;
  text-decoration: none;
  list-style: none; }

.user_info .figure .each {
  height: 50px;
  padding: 5px 0; }

.user_info .num {
  font-size: 20px;
  color: #ffd700;
  font-weight: bold; }

.user_info .text_profile {
  padding: 20px 80px 30px; }
