<%= stylesheet_link_tag  "css/users/followers", :media => "all" %>

<div class="container">
  <div class="row">
    <div class="user_info">
      <%= render 'users/profile' %>
    </div>

    <% if @user.followers.empty? %>
      <div class="col-xs-12 list-group-item">
        まだフォロワーはいません。
      </div>
    <% else %>
      <div class="col-xs-12 border background_color box_main">
        <div class="text">フォロワー <%= @user.followers.count %>件</div>
      </div>
      <% @user.followers.each do |u| %>
        <%= render 'users/relationships', u: u %>
      <% end %>
    <% end %>
  </div>
</div>