<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
       <li><%= link_to "Timeline", articles_path, class: "btn" %></li>
      <li><%= link_to "New cordinate", new_article_path, class: "btn" %></li>
    </ul>
  </nav>
</footer>